<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Control1</servlet-name>
  	<display-name>Control1</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.Control1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresoEspecializaciones</servlet-name>
  	<display-name>IngresoEspecializaciones</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.IngresoEspecializaciones</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroPacientes</servlet-name>
  	<display-name>RegistroPacientes</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.RegistroPacientes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroProfesionales</servlet-name>
  	<display-name>RegistroProfesionales</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.RegistroProfesionales</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusquedaDeProfesionalPorArea</servlet-name>
  	<display-name>BusquedaDeProfesionalPorArea</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.BusquedaDeProfesionalPorArea</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusquedaPorDNI</servlet-name>
  	<display-name>BusquedaPorDNI</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.BusquedaPorDNI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusquedaPacientePorDNI</servlet-name>
  	<display-name>BusquedaPacientePorDNI</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.BusquedaPacientePorDNI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusquedaProfesionalPorDNI</servlet-name>
  	<display-name>BusquedaProfesionalPorDNI</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.BusquedaProfesionalPorDNI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListarProfesionales</servlet-name>
  	<display-name>ListarProfesionales</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.ListarProfesionales</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListarEspecialidades</servlet-name>
  	<display-name>ListarEspecialidades</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.ListarEspecialidades</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListarPacientes</servlet-name>
  	<display-name>ListarPacientes</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.ListarPacientes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Editar</servlet-name>
  	<display-name>Editar</display-name>
  	<description></description>
  	<servlet-class>com.agendaTurnos.control.Editar</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Control1</servlet-name>
  	<url-pattern>/Control1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresoEspecializaciones</servlet-name>
  	<url-pattern>/IngresoEspecializaciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroPacientes</servlet-name>
  	<url-pattern>/RegistroPacientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroProfesionales</servlet-name>
  	<url-pattern>/RegistroProfesionales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusquedaDeProfesionalPorArea</servlet-name>
  	<url-pattern>/BusquedaDeProfesionalPorArea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusquedaPorDNI</servlet-name>
  	<url-pattern>/BusquedaPorDNI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusquedaPacientePorDNI</servlet-name>
  	<url-pattern>/BusquedaPacientePorDNI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusquedaProfesionalPorDNI</servlet-name>
  	<url-pattern>/BusquedaProfesionalPorDNI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListarProfesionales</servlet-name>
  	<url-pattern>/ListarProfesionales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListarEspecialidades</servlet-name>
  	<url-pattern>/ListarEspecialidades</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListarPacientes</servlet-name>
  	<url-pattern>/ListarPacientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Editar</servlet-name>
  	<url-pattern>/Editar</url-pattern>
  </servlet-mapping>
</web-app>
